<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/cssincludes :: commonHeader('User List')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: siteHeader}"></div>

<table class="table">

    <tr>
        <td>Id</td>
        <td th:text="${user.id}"/>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${user.name}"/>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user.email}"/>
    </tr>
    <tr>
        <td>Active</td>
        <td th:text="${user.active ? 'Active' : 'Inactive'}"/>
    </tr>
</table>

<div th:replace="~{fragments/header :: siteScripts}"></div>
</body>
</html>
