<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${title}"/>

    <a href="/useradd">Add User</a><br>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u:${users}">
            <td><a
                    th:href="@{/users/{id}(id=${u.id})}"
                    th:text="${u.id}"/>
            </td>
            <td th:text="${u.name}"/>
            <td th:text="${u.email}"/>
            <td th:text="${u.active ? 'Active' : 'Inactive'}"/>
            <td>
                <a th:href="@{/deleteuser/{id}(id=${u.id})}">delete</a>
                <a th:href="@{/edituser/{id}(id=${u.id})}">edit</a>
            </td>
        </tr>
        </tbody>

    </table>
</body>
</html>